<label>Lift name</label><br>
<input type="text" id="name" name="name" [(ngModel)]="this.lift.name"><br><br>
<label>Weight</label><br>
<input type="text" id="weight" name="weight" [(ngModel)]="this.lift.weight"><br><br>
<label>Sets</label><br>
<input type="text" id="sets" name="sets"[(ngModel)]="this.lift.sets"><br><br>
<label>Reps</label><br>
<input type="text" id="reps" name="reps" [(ngModel)]="this.lift.reps"><br><br>
<button type="button" (click)="addLift()">Add lift</button><br>
<div *ngFor="let lift of workout.lifts">
    <h3>{{ lift.name }}</h3>
    <p>{{ lift.weight }}</p>
    <p>{{ lift.sets }} x {{ lift.reps }}</p>
    <br>
</div>
<button type="button" (click)="saveWorkout()">Save workout</button>